@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


html,body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a{
    color: #111;
}
section{
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.row-center{
    align-items: center;
}
.col-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.albero-title{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -1.5px;
}
.wrap{
    flex-wrap: wrap;
}
.col-33{
    width: 33.33%;
}
